<launch>
  <!-- map server package entries -->
  <arg name="map_file" default="$(find my_robot)/maps/map.yaml" />
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" />

  <!-- amcl package entries -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <param name="odom_frame_id"   value="odom" />
    <param name="odom_model_type" value="diff-corrected" />
    <param name="base_frame_id"   value="robot_footprint" />
    <param name="global_frame_id" value="map" />
    <param name="initial_pose_x"  value="0.0" />
    <param name="initial_pose_y"  value="0.0" />
    <param name="initial_pose_a"  value="0.0" />

    <!-- <remap from="scan" to="my_robot/laser/scan" /> -->
    <remap from="scan" to="/scan" />

    <!-- CONFIGURATION PARAMETERS -->
    <!-- THEORY: does fewer particles updated faster provide better accuracy? (do we really need thousands?!?) -->
    <param name="min_particles" value="80" />
    <param name="max_particles" value="1600" />
    <param name="update_min_d"  value="0.1" />
    <param name="update_min_a"  value="0.4" />
    <param name="laser_max_beams" value="40" />
  </node>

  <!-- move base package entries -->
  <node pkg="move_base" type="move_base" name="move_base" respawn="false" output="screen">
    <param name="base_global_planner" value="navfn/NavfnROS" />
    <param name="base_local_planner"  value="base_local_planner/TrajectoryPlannerROS" />
    <rosparam file="$(find my_robot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find my_robot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find my_robot)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find my_robot)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find my_robot)/config/base_local_planner_params.yaml" command="load" />
    <!-- <remap from="scan" to="my_robot/laser/scan" /> -->
    <remap from="scan" to="/scan" />
  </node>
</launch>
